.signin-signup {
    width: 35vw;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10%;
    margin-top: 10%;
    .title {
        margin: 12px 0;
        font-size: 30px;
    }
    .subtitle {
        font-size: 20px;
    }
    .mini-section {
       margin-top: 20px;
       .button-link {
           margin-top: 10px;
           padding: 5px 10px;
       }
    }
}

.message {
    margin-bottom: 25px;
    p {
        font-size: 20px;
    }
    .login {
        cursor: pointer;
        border-radius: 5px;
        background-color: black;
        padding: 5px 10px;
        color: white;
    }
}

@media screen and (max-width: 800px) {
    .signin-signup {
        margin-top: 120px;
        width: 80vw;
    }
}
